<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="everyYeoga.store.mapper.CommentMapper">

	<resultMap type="Comment" id="commentMap">
		<result property="commentId" column="commentId" />
		<result property="content" column="content" />
		<result property="regDate" column="regDate" />
		<result property="writer" column="writer" />
		<association property="user" column="writer"
			select="everyYeoga.store.mapper.UserMapper.retrieveByUserId"
			javaType="User" jdbcType="VARCHAR">
		</association>
	</resultMap>

	<!-- 인애 : store 에 있는 CommentMapper 에 @Param 을 주었음. -->
	<insert id="createComment" parameterType="map">

		INSERT INTO comment_tb(commentId, content, regDate, writer, articleId, groupId)
		VALUES(comment_seq.NEXTVAL, #{comment.content}, #{comment.regDate}, #{comment.writer}, #{articleId}, #{groupId})
	</insert>
	

	<delete id="deleteComment" parameterType="String">
		DELETE FROM comment_tb
		WHERE commentId = #{commentId}
	</delete>

	<delete id="deleteCommentReport" parameterType="String">
		DELETE FROM
		comment_report_tb
		WHERE commentId = #{commentId}
	</delete>

	<update id="updateComment" parameterType="Comment">
		UPDATE comment_tb
		SET
		content = #{content},
		WHERE commentId= #{commentId}
	</update>

	<delete id="deleteCommentByArticleId" parameterType="String">
		DELETE FROM
		comment_tb
		WHERE articleId = #{articleId}
	</delete>

	<select id="retrieveComment" parameterType="String" resultMap="commentMap">
		SELECT commentId, content, regDate, writer
		FROM comment_tb
		WHERE articleId = #{articleId}
	</select>

	<delete id="deleteCommentByGroupId" parameterType="String">
		DELETE FROM
		comment_tb
		WHERE groupId = #{groupId}
	</delete>

	<select id="retreiveCommentByCommentId" parameterType="String"
		resultMap="commentMap">
		SELECT commentId, content, writer, regDate, articleId, groupId
		FROM comment_tb
		WHERE commentId = #{commentId}
	</select>
</mapper>