<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="everyYeoga.store.mapper.ReportMapper">
  
<resultMap type="Report" id="reportMap">
		<id property="reportId" column="reportId" />
		<result property="classifyReport" column="classifyReport" />
		<result property="reportType" column="reportType" />
		<result property="classifyId" column="classifyId" />
		<result property="reportReason" column="reportReason" />
		<result property="regDate" column="reportDate" />

	<association property="reportUser" column="reportUserId" 
	select="everyYeoga.store.mapper.UserMapper.retrieveByUserId" 
			javaType="User" jdbcType="VARCHAR"/> 
			
			 <association property="reportedUser" column="reportedUserId" 
			 select="everyYeoga.store.mapper.UserMapper.retrieveByUserId" 
			javaType="User" jdbcType="VARCHAR"/> 
	</resultMap>
		
	
	<select id="retrieveReportDetail" parameterType="String" resultMap="reportMap">
		SELECT reportId, classifyReport, reportType, reportReason, reportDate, reportUserId, reportedUserId, classifyId
		FROM REPORT_TB
		WHERE reportId = #{reportId}
	</select> 
	
	<select id="retrieveReport" resultMap="reportMap"> 
		SELECT classifyReport, reportType, reportReason, reportDate, reportUserId, reportedUserId, classifyId
		FROM report_tb
		where reportedUserId = #{reportedUserId}
	</select>
	
	<select id="retrieveAllReport" resultMap="reportMap">
		SELECT *
		FROM report_tb
	</select>

  	  	<insert id="createReport" parameterType="Report">
  		INSERT INTO report_tb(reportId, classifyReport, reportType, reportReason, reportDate, reportUserId, reportedUserId, classifyId)
		VALUES(report_seq.NEXTVAL, #{classifyReport}, #{reportType}, #{reportReason}, #{regDate}, #{reportUser.id}, #{reportedUser.id}, #{classifyId})
  	</insert>
  	
  	<select id="retrieveForOneReport" resultType="String" parameterType="map">
  	SELECT *
		FROM report_tb
		WHERE classifyId = #{classifyId}
		AND classifyReport = #{classifyReport}
  	</select>

</mapper>